/* select lists that don't have a different class. If you want to add classes later, replace [class] with .toc-item and .tc-toc to specifically exclude the table of contents elements. */

div.tc-tiddler-body li:not([class]) {
  margin-top: 8px;
  margin-bottom: 8px;
}
div.tc-tiddler-body ol:not([class]) {
  list-style-type: lower-roman;
}
div.tc-tiddler-body ol:not([class]),
div.tc-tiddler-body ul:not([class]) {
  margin-top: 0;
  margin-bottom: 0;
}
/*
div.tc-tiddler-body li:last-child,
div.tc-tiddler-body li:last-of-type {
  margin-bottom: 0;
}
div.tc-tiddler-body li:first-of-type {  margin-top: 0; }
*/