div.tc-tiddler-body > p,
div.tc-tiddler-body > div.theorem > p {
  margin-top: 0;
  margin-bottom: 0;
}
/*only indent paragraphs preceded by another paragraph*/
div.tc-tiddler-body > p + p,
div.tc-tiddler-body > div.theorem > p + p {
  text-indent: 26px; /* calculated from LaTeX 20pt default */
}

/* use only if the theorem is a single paragraph */

div.tc-tiddler-body > .theorem {
  margin-top: 12px;
  margin-bottom: 12px;
}
div.tc-tiddler-body > p.theorem,
div.tc-tiddler-body > div.theorem > p:first-of-type,
div.tc-tiddler-body > p.theorem + p:not([class=theorem]) {
  text-indent: 0;
}