/* used in $:/_templates/cd, the template for commutative diagrams*/
div.cd {
  /* this centers the span */
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
span.cd {
  /* bounding box size = image size */
  display: inline-block;
}
img.cd {
  /* https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(63%)
          sepia(21%)
          saturate(186%)
          hue-rotate(138deg)
          brightness(88%)
          contrast(86%);
  /* scale factor */
  --s: 1.4;
  /* min-width forces scaling over 100% */
  min-width: calc(var(--s) * 100%);
  /* re-center.*/
  transform: translate(calc(
                 (100% - var(--s) * 100%) / (2 * var(--s))
             ));
}
.theorem img.cd {
  filter: invert(71%)
          sepia(15%)
          saturate(181%)
          hue-rotate(131deg)
          brightness(87%)
          contrast(88%);
}